### NASA Earth Meteorite Landings

Use the URL from NASA's Open Data Portal API (https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh) to request data and bring it in as JSON. Then extract the following features from that data to create a dataframe(columns should be in the order listed below):

- ID
- Year
- Fall
- Name
- Name Type
- Mass
- Latitude
- Longitude

Upload your Jupyter notebook to Github and submit its URL for this assignment.

In [33]:
import requests 
import json
URL = r'https://data.nasa.gov/resource/gh4g-9sfh.json'
resp = requests.get(URL)
resp

In [34]:
str_data = resp.text
NASAdata = json.loads(str_data)
NASAdata[0]

{'name': 'Aachen',
 'id': '1',
 'nametype': 'Valid',
 'recclass': 'L5',
 'mass': '21',
 'fall': 'Fell',
 'year': '1880-01-01T00:00:00.000',
 'reclat': '50.775000',
 'reclong': '6.083330',
 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}

In [35]:
NASAdata[0].keys()

dict_keys(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat', 'reclong', 'geolocation'])

In [36]:
len(NASAdata)

1000

In [37]:
ID = []
Year = []
Fall = []
Name = []
Name_Type = []
Mass = []
Latitude = []
Longitude = []

a=0
b=0
c=0
d=0
e=0
f=0
g=0
x=0
for i in range(0,1000):
    try:
        ID.append(NASAdata[i]['id'])
    except:
        a=a+1
        ID.append('N/A')
    try: 
        Year.append(NASAdata[i]['year'])
    except:
        b=b+1
        Year.append('N/A')
    try:
        Fall.append(NASAdata[i]['fall'])
    except:
        c=c+1
        Fall.append('N/A')
    try:
        Name.append(NASAdata[i]['name'])
    except:
        d=d+1
        Name.append('N/A')
    try:
        Name_Type.append(NASAdata[i]['nametype'])
    except:
        e=e+1
        Name_Type.append('N/A')
    try:
        Mass.append(NASAdata[i]['mass'])
    except:
        f=f+1
        Mass.append('N/A')
    try:
        Latitude.append(NASAdata[i]['geolocation']['latitude'])
    except:
        g=g+1
        Latitude.append('N/A')
    try:
        Longitude.append(NASAdata[i]['geolocation']['longitude']) 
    except:
        x=x+1
        Longitude.append('N/A')

In [38]:
print(a, 'missing IDs')
print(b, 'missing years')
print(c, 'missing falls')
print(d, 'missing names')
print(e, 'missing name types')
print(f, 'missing masses')

0 missing IDs
1 missing years
0 missing falls
0 missing names
0 missing name types
28 missing masses

In [39]:
print(len(ID))
print(len(Year))
print(len(Fall))
print(len(Name))
print(len(Name_Type))
print(len(Mass))
print(len(Latitude))
print(len(Longitude))

1000
1000
1000
1000
1000
1000
1000
1000

In [43]:
NASAlist = list(zip(ID, Year, Fall, Name, Name_Type, Mass, Longitude, Latitude))
column_names = ['ID', 'Year', 'Fall', 'Name', 'Name Type', 'Mass', 'Latitude', 'Longitude']

import pandas as pd
df = pd. DataFrame(NASAlist, columns=column_names)
df.head()

,ID,Year,Fall,Name,Name Type,Mass,Latitude,Longitude
0,1,1880-01-01T00:00:00.000,Fell,Aachen,Valid,21,6.08333,50.775
1,2,1951-01-01T00:00:00.000,Fell,Aarhus,Valid,720,10.23333,56.18333
2,6,1952-01-01T00:00:00.000,Fell,Abee,Valid,107000,-113.0,54.21667
3,10,1976-01-01T00:00:00.000,Fell,Acapulco,Valid,1914,-99.9,16.88333
4,370,1902-01-01T00:00:00.000,Fell,Achiras,Valid,780,-64.95,-33.16667